node_modules
*/node_modules

dist
.turbo

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

*.swp
*.swo
*~

.npm
.eslintcache
.pnp
.pnp.js
coverage
.nyc_output

.vercel
